@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;600&display=swap');

.about-me-container {
  background-color: rgba(0, 0, 0, 0.577);
  display: flex;
  flex-direction: column;
  align-items: center;
  /* Centering the content horizontally */
  padding: 20px;
  font-family: 'Inter', sans-serif;
}

.head-comment {
  text-align: center;
  color: white;
  font-family: 'Inter', sans-serif;
  /* Ensures text within the h1 is centered */
}

.resume-text {
  padding: 10px;
  margin-right: 0;
  /* Remove the individual right margins */
  opacity: 0;
  animation: slideInFromRight 0.8s ease forwards;
  animation-delay: 0.6s;
  color: white;
  text-decoration: none;
  font-family: 'Inter', sans-serif;
}

.resume-button {
  color: white;
  text-decoration: none;
  background-color: transparent;
  border: 2px solid white;
  border-radius: 40px;
  padding: 10px 20px;
  cursor: pointer;
  font-size: 20px;
  transition: color 0.3s, background-color 0.3s;
  font-family: 'Inter', sans-serif;
}

.resume-button:hover {
  background-color: white;
  color: black
}