.about-me-container {
  background-color: rgba(0, 0, 0, 0.577);
  display: flex;
  flex-direction: column;
  align-items: center;
  /* Centering the content horizontally */
  padding: 20px;
}

.head-comment {
  text-align: center;
  color: white
    /* Ensures text within the h1 is centered */
}