@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;600&display=swap');

body,
#root,
.App {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  /* Full viewport height */
  margin: 0;
  animation: fadeIn 1s ease;
  /* Apply fade-in animation */
  font-family: 'Inter', sans-serif;
}

body {
  background: linear-gradient(to right, #4682B4, #B0C4DE);
  min-height: 100vh;
  /* Full viewport height */
  background-attachment: fixed;
  /* Fixed background */
  font-family: 'Inter', sans-serif;
}

/* Fade-in animation keyframes */
@keyframes fadeIn {
  0% {
    opacity: 0;
    /* Start fully transparent */
  }

  100% {
    opacity: 1;
    /* End fully opaque */
  }
}