/* Content flex property to push the footer down */
.App-content {
  flex: 1;
}

/* Footer styling */
.footer {
  /* background-color: 001F3F; */
  color: #fff;
  text-align: center;
  position: fixed;
  bottom: 0;
  left: 0;
  padding: 30px;
  width: 100%;
  z-index: 1000;
}

.icon-link {
  color: white;
  /* Default color for the icon */
  font-size: 24px;
  /* Adjust size as needed */
  transition: color 0.3s ease;
  /* Smooth transition for color change */
}

.icon-link:hover {
  color: #0077B5;
  /* LinkedIn color on hover */
}