.header {
  padding: 20px;
}

.header-center {
  display: flex;
  justify-content: center;
  /* Center the links */
  align-items: center;
  /* Vertically center the links */
}

.header-center a {
  color: white;
  /* Makes links white */
  text-decoration: none;
  /* Removes the underline */
  margin: 0 15px;
  /* Optional: adds horizontal space between links */
}

.header-center a:hover {
  font-weight: bold;
}

.img-thumbnail {
  width: 200px;
}

.headshot {
  margin-left: 40px;
}

.active-link {
  color: #000000;
  /* Highlight color for the active page */
  font-weight: bold;
  border-bottom: 2px solid #007bff;
  /* Optional underline for active link */
}