@keyframes slideInFromRight {
  0% {
    transform: translateX(-100%);
    opacity: 0;
  }

  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

.main-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  min-height: 100vh;
  padding: 1rem;
  position: relative;
}

.my-name,
.my-name2 {
  font-size: 4vw;
  margin: 0.3em 0;
  font-family: Arial, Helvetica, sans-serif;
  animation: slideInFromRight 0.8s ease forwards;
  color: #333;
  /* Default color for text */
}

.my-name2 {
  animation-delay: 0.3s;
}

.button-container {
  display: flex;
  gap: 1rem;
  margin-top: 1rem;
}

.button-about,
.button-projects {
  opacity: 0;
  animation: slideInFromRight 0.8s ease forwards;
  animation-delay: 0.6s;
}

.button-about a,
.button-projects a {
  text-decoration: none;
  color: white;
  /* Button link color */
}

.button-about button,
.button-projects button {
  background-color: transparent;
  border: 2px solid white;
  border-radius: 40px;
  padding: 0.8rem 1rem;
  font-size: 2rem;
  cursor: pointer;
  transition: color 0.3s, background-color 0.3s;
}

.button-about button:hover,
.button-projects button:hover {
  color: black;
  background-color: white;
}

.left-section {
  margin-top: 2rem;
}

.img-thumbnail {
  width: 25vw;
  max-width: 300px;
  border-radius: 20%;
}

/* Particle background adjustment */
#particles-js {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: -1;
}

/* Media queries for small screens */
@media (max-width: 768px) {

  .my-name,
  .my-name2 {
    font-size: 8vw;
    color: #333;
    /* Keep text color dark grey on mobile */
  }

  .button-about button,
  .button-projects button {
    text-decoration: none;
    font-size: 4vw;
  }

  .img-thumbnail {
    width: 70vw;
    max-width: none;
  }

  .button-container {
    flex-direction: column;
    align-items: center;
  }

  /* Ensure 'About Me' is black on mobile */
  .my-name,
  .my-name2 {
    color: black !important;
    /* Force the text color to black on mobile */
  }

}