@keyframes slideInFromRight {
  0% {
    transform: translateX(-100%);
    opacity: 0;
  }

  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

.main-page {
  display: flex;
  flex-direction: column;
  text-align: center;
  height: 55em;
  overflow: hidden;
}

.my-name {
  font-size: 60px;
  margin-top: 5em;
  font-family: Arial, Helvetica, sans-serif;
  overflow-wrap: break-word;
  margin-left: 3em;
  width: 300px;
  opacity: 0;
  animation: slideInFromRight 0.8s ease forwards;
}

.my-name2 {
  font-size: 60px;
  font-family: Arial, Helvetica, sans-serif;
  width: 550px;
  margin-left: 4em;
  opacity: 0;
  animation: slideInFromRight 0.8s ease forwards;
  animation-delay: 0.3s;
}

.button-about {
  opacity: 0;
  animation: slideInFromRight 0.8s ease forwards;
  animation-delay: 0.6s;
  margin-right: 53em;
  color: white;
  text-decoration: none;
}

.button-about button {
  background-color: transparent;
  border: 2px solid white;
  border-radius: 40px;
  padding: 10px 20px;
  cursor: pointer;
  font-size: 20px;
  transition: color 0.3s, background-color 0.3s;
}

.button-about button:hover {
  color: black;
  background-color: white;
}

.container-contact {
  width: 100%;
  max-width: 100%;
}

.left-section {
  margin-left: 50em;
  /* Adjust horizontal positioning */
  margin-bottom: 0;
  /* Reduce the large bottom margin */
  margin-top: -17em;
}


.img-thumbnail {
  width: 350px;
  border-radius: 20%;
}